.dots {
  position: absolute;
  top: 90%;
}
.slick-dots li {
  list-style: none !important;
  bottom: 20px;
}
.slick-dots li button {
  flex: 0 1 auto !important;
  width: 30px !important;
  height: 3px !important;

}
.slick-dots li button:before{
  width: 30px !important;
  height: 3px !important;
  border-left: 3px solid grey !important;
  border-radius: 5% !important;
  background-color: white!important;
  content: "" !important;
}

.slick-slider {
  width: 100% !important;
  height: 100% !important;
  background-color: transparent;
}
.slick-list img{
  width: 97% !important;
  height: 100% !important;
  margin: 0 auto;
}
