.footer {
    
}

.footer .footer-promotion__logo {
    display: inline-block;
    background: url('https://theme.hstatic.net/1000026716/1000440777/14/bg-register.png') no-repeat left center #dedede;
    width: 60px;
    height: 49px;
    margin: 20px 153px 0 153px;
    color: red;
}