.footer {
    margin-top: ;
}

.footer .footer-promotion__logo {
    background: url('https://theme.hstatic.net/1000026716/1000440777/14/bg-register.png') no-repeat scroll left center #dedede;
    margin: 20px 153px 0 153px;
    color: red;
}