@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Mynerve&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
 
}

.wrap-list-megamenu {
  width: 180px;
  height: 550px;
  margin-left: 10px auto ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  position: relative;
  padding-left: 35px;
  background-color:#fff;
  
}

  .wrap-list-megamenu li {
  list-style: none;
  font-weight: 500;
  font-size: 13px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  line-height: 36px;
  background-color:#fff;

}
.item-megamenu-laptop {
  color: #666;
  list-style: none;
  font-weight: normal;
  font-size: 13px;
  margin: 3px 0;
  cursor: pointer;
  display: block; 
  padding-left: 30px;
}
.item-megamenu-laptop:hover{
  color: rgb(160, 35, 35);
}

.item-megamenu:hover {
  opacity: .7;
  background-color:#ea1c04;
  transform: scale(1.1);

}

.wrap-megamenu-item {
  position: absolute;
  top: 0;
  left: 185px;
  width: 1163px;
  height: 550px;
  background-color:white;
  display: flex;
  justify-content:space-between; 
  border-radius: 8px;
  align-items: baseline;
  
  
}
.title-megamenu-item {
  list-style: none;
  font-weight: 500;
  padding-left: 30px;
  color: #ea1c00;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.img-laptop-megamenu {
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 5px;
  top:0;
  
}
/* hiep csss */






