@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Mynerve&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  --item-megamenu-h: 34px;
  --p-color: #ea1c04;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;

}

.wrap-list-megamenu {
  padding-top: 10px;
  width: 180px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;

}

.wrap-list-megamenu .item-megamenu {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  padding-left: 10px;
  height: var(--item-megamenu-h);
  line-height: var(--item-megamenu-h);
  cursor: pointer;
  z-index: 1000;
  background-color: white;
  color: #505050;


}

.item-megamenu:hover {
  opacity: .7;
  background-color: var(--p-color);
  color: white;
}

.hovermegamenu {
  position: relative;
}

.hovermegamenu::before {
  right: 0;
  top: 0;
  border-top: calc(var(--item-megamenu-h) * 0.5) solid transparent;
  border-left: calc(var(--item-megamenu-h) * 0.5) solid transparent;
  border-bottom: calc(var(--item-megamenu-h) * 0.5) solid transparent;
  border-right: calc(var(--item-megamenu-h) * 0.5) solid transparent;
  z-index: 100;
  position: absolute;
  margin: auto;
  content: "";
  transform: translateX(100%);
}

.hovermegamenu:hover::before {
  border-left: calc(var(--item-megamenu-h) * 0.5) solid var(--p-color);
}

.MenuItem-Megamenu {
  padding-top: 30px;
}

.item-megamenu-laptop {
  color: #666;
  list-style: none;
  font-weight: normal;
  font-size: 13px;
  margin: 3px 0;
  cursor: pointer;
  display: block;
  padding-left: 30px;
}

.item-megamenu-laptop:hover {
  color: rgb(160, 35, 35);
}


.wrap-megamenu-item {

  position: absolute;
  top: 10px;
  left: 190px;
  width: 1260px;
  height: 550px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;



}

.wrap-megamenu-section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  justify-content: space-between;
  padding-right: 10px;

}


.title-megamenu-item {
  list-style: none;
  font-weight: 500;
  padding-left: 30px;
  color: #ea1c00;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.img-laptop-megamenu {
  width: 200px;
  right: 0;
  border-radius: 10px;
  top: 0;
  height: 100%;
  flex-shrink: 0;

}

.img-laptop-megamenu img {
  width: 100%;
  height: 100%;

}